*{
  margin:0;
  padding:0;
  user-select: none;
  font-family: sans-serif;
}
#app{
  text-align: center;
}
body{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.block__main{
  width: 900px;
  height: 470px;
  background-color: #202225;
  backdrop-filter: blur(10px);
  color: #72757b;
}
.armour{
  fill: lightgreen;
}

li {
  list-style: none;
  width: 100%;
  height: 55px;
  background-color: #2f3136;
  transform: 1s initial;
}
.block__row{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;

}
li:hover{
  color: #b6bbba;
  background-color: #34373c;

}

:nth-last-child(li){
  margin: 0 !important;
}
h2{
  margin-right: 10px;
}
h3{
  margin-right: 50px;
  width: 120px;
}
.online{
  margin-right: 50px;
  width: 70px;
}

img{
  height: 100%;
  margin-right: 10px;
  -webkit-user-drag: none;
}
.photo{
  width: 100px;
}
.weapons{
  display: flex;
  justify-content: center;
  height: 100%;
  margin-right: 10px;
  width: 300px;
  align-items: center;
}
.armour{
  margin-right: 15px;
  height: 35px;
}
.weapons > img {
  height: 35px;
}
button{
  cursor: pointer;
  color: white;
  font-size: 16px;
  background: #36393f;
  border: 1px;
  border-radius: 4px;
  padding: 5px 10px;
  width: 80px;
}
button:hover{
  background-color: #2d2f34;
}
[v-cloak] {
  display: none;
}